@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  height: 1000px;
  font-family: "Rubik", sans-serif;
}
#box {
  background-color: #80ddff;
  width: 90%;
  border-radius: 5px;
  margin: auto;
  height: 100%;
  text-align: center;
}
#info {
  width: fit-content;
  margin: auto;
}
#logo {
  width: 400px;
  height: 400px;
  text-align: center;
}
h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  padding-top: 100px;
  border-radius: 5px;
}

input {
  color: black;
  margin: 15px auto;
  display: block;
  width: 250px;
  border-radius: 5px;
  border-color: blue;
}
label {
  font-size: 15px;
  color: white;
  text-align: center;
  display: inline-block;
  width: 100px;
}
button {
  margin-top: 40px;
  border-color: blue;
  border-radius: 5px;
  text-align: left;
}
