@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}
.box {
  background-color: #80ddff;
  min-height: 100vh;
}
.info {
  width: fit-content;
  margin: auto;
}
.box img {
  max-width: 90%;
  height: auto;
}
h1 {
  font-size: 80px;
  color: rgb(255, 255, 255);
  padding-top: 60px;
  font-weight: 400;
  -webkit-text-stroke-width: 1.9px;
  -webkit-text-stroke-color: rgb(38, 42, 90);
}
input {
  margin: 15px auto;
}
