body {
  font-family: 'Rubik', sans-serif;
}

.login-box {
  background-color: #ffffff;
  padding: 3rem;
  padding-top: 2.2rem;
  margin: 2rem 6rem;
  border-radius: 1rem;
}

.image-container {
  height: 100vh;
  background-image: url('/latest-logo-bg.png');
  background-size: cover;
  background-position: center;
  padding-left: 0rem;
  padding-right: 0rem;
}

.login-box button {
  width: 100%;
}

.box {
  background-color: #80ddff;
  max-height: 100vh;
}

.box img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(38, 42, 90);
}

input {
  margin-bottom: 1rem;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: rgba(0, 204, 255, 0.737);
}

tr:hover td {
  background-color: #ffb122; /* Highlight the entire row */
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.navbar {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-nav {
  width: 100%;
  padding: 0.5rem 1rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
}
.content {
  flex-grow: 1;
  margin-left: 6rem;
}
