body{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background: whitesmoke;
}

button{
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px green;
    border-style: dotted;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color:aqua;
}

#header{
    padding: 10px;
    color:cornflowerblue;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button{
    background-color: red;
}

#container{
    width: 770;
}

#weekdays {
    justify-content: center;
    width: 100%;
    display: flex;
    color: rebeccapurple;
}

#weekdays div{
    width: 100px;
    padding: 10px;
}

#calendar{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #d0c2d4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #faece8;
  }
  
  .day + #currentDay {
    background-color:lightblue;
  }

  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }