.create-vac label {
  display: block;
  margin-bottom: 5px;
}

.create-vac input,
.create-vac textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.create-vac button {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.create-vac button:hover {
  background-color: #004494;
}

/* works for all pages, used to get back to calendar*/
.nav-link {
  margin: 1.8rem;
  padding: 0rem 0.75rem;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  position: relative; top: 150px;
  color: #80ddff;
  text-align: center;
  background-color: #ea3a3d;
}

.nav-container {
  left: 0;
  height: 170px;
  width: 170px;
  background-size: cover;
  background-image: url('/VacationPlannerProLOGO.png');
}
