#cal-page {
  justify-content: center;
  background: whitesmoke;
}

#container {
  justify-content: center;
  background: whitesmoke;
}

.cal-button {
  margin: 0.25rem;
  padding: 0rem 0.75rem;
  position: relative; top: 130px; right: 150px;
  cursor: pointer;
  box-shadow: 0px 0px 2px green;
  border-style: dotted;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  color: #80ddff;
  background-color: #ea3a3d;
}

.logout-button {
  margin: 0.25rem;
  padding: 0rem 0.75rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px green;
  border-style: dotted;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  color: #ffb122;
  background-color: #485664;
}

.edit-button {
  position: relative;
  left: 15px;
  top: 190px;
  margin: 0.25rem;
  padding: 0rem 0.75rem;
  cursor: pointer;
  box-shadow: 0px 0px 2px green;
  border-style: dotted;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  color: #80ddff;
  background-color: #ea3a3d;
  transform: translate(-10%, -10%);
}

#header {
  position: relative;
  top: 30px;
  padding: 1rem 3rem;
  color: #3aaaf0;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.nav-container {
  left: 0;
  height: 170px;
  width: 170px;
  background-size: cover;
  background-image: url('/VacationPlannerProLOGO.png');
}

#weekdays {
  justify-content: center;
  width: 100%;
  display: flex;
  color: #485664;
}

#weekdays div {
  width: 100px;
  margin: 0 0.5rem;
  padding: 10px;
  text-align: center;
}

#calendar {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #d0c2d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #ffb122;
}

.day + #currentDay {
  background-color: lightblue;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}
