/* Style for the overall page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
}

/* Style for the vacation entries */
.vacation-entry {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.vacation-entry p {
    margin: 0;
    color: #555;
}

/* Style for buttons */
button {
    background-color: #008cba; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f73; 
}

/* Specific styles for different buttons */
.edit-button {
    background-color: #4CAF50; 
}

.edit-button:hover {
    background-color: #357a38; 
}

.delete-button {
    background-color: #f44336; 
}

.delete-button:hover {
    background-color: #da190b; 
}